{# Module styles #}

{% require_css %}
  <style>
    {% scope_css %}

      {# Features #}

      .card__hr {
        background-color: {{ module.styles.features.border.color.color }};
        color: {{ module.styles.features.border.color.color }};
      }

      {% if module.styles.features.alignment.alignment.horizontal_align %}
        .card__features {
          text-align: {{ module.styles.features.alignment.alignment.horizontal_align }};
        }
      {% endif %}

      .card__feature-item {
        {{ module.styles.features.text.font.css }}
      }

      .card__icon svg {
        fill: {{ module.styles.features.icon.color.color }};
      }

      {# Price #}

      .card__price {
        {{ module.styles.price.text.font.css }}
        {% if module.styles.price.alignment.alignment.horizontal_align %}
          text-align: {{ module.styles.price.alignment.alignment.horizontal_align }};
        {% endif %}
      }

      {# Button wrapper #}

      {% if module.styles.button.alignment.alignment %}
        .button-wrapper {
          text-align: {{ module.styles.button.alignment.alignment.horizontal_align }};
        }
      {% endif %}

      {# Button #}

      .button {
        {% if module.styles.button.background.color.color %}
          background-color: rgba({{ module.styles.button.background.color.color|convert_rgb }}, {{ module.styles.button.background.color.opacity / 100 }});
        {% endif %}
        {{ module.styles.button.border.border.css }}
        {% if module.styles.button.corner.radius >= 0 %}
          border-radius: {{ module.styles.button.corner.radius ~ "px" }};
        {% endif %}
        {{ module.styles.button.text.font.css }}
        {{ module.styles.button.spacing.spacing.css }}
      }

      .button:hover,
      .button:focus {
        {% if module.styles.button.background.color.color %}
          background-color: rgba({{ color_variant(module.styles.button.background.color.color, -80)|convert_rgb }}, {{ module.styles.button.background.color.opacity / 100 }});
        {% endif %}
      }

      .button:active {
        {% if module.styles.button.background.color.color %}
          background-color: rgba({{ color_variant(module.styles.button.background.color.color, 80)|convert_rgb }}, {{ module.styles.button.background.color.opacity / 100 }});
        {% endif %}
      }

      {# Card #}

      .card {
        {% if module.styles.card.background.background_type == "color" && module.styles.card.background.color.color %}
          background-color: rgba({{ module.styles.card.background.color.color|convert_rgb }}, {{ module.styles.card.background.color.opacity / 100 }});
        {% elif module.styles.card.background.background_type == "gradient" %}
          background: {{ module.styles.card.background.gradient.css }};
        {% elif module.styles.card.background.background_type == "image" %}
          {{ module.styles.card.background.image.css }}
        {% endif %}
        {{ module.styles.card.border.border.css }}
        {% if module.styles.card.corner.radius >= 0 %}
          border-radius: {{ module.styles.card.corner.radius ~ "px" }};
        {% endif %}
        {{ module.styles.card.spacing.spacing.css }}
      }

    {% end_scope_css %}
  </style>
{% end_require_css %}

{# Sets attributes used for the link field #}

{% set href = module.button_link.url.href %}
{% if module.button_link.url.type is equalto "EMAIL_ADDRESS" %}
  {% set href = "mailto:" + href %}
{% endif %}
{% set rel = [] %}
{% if module.button_link.no_follow %}
  {% do rel.append("nofollow") %}
{% endif %}
{% if module.button_link.open_in_new_tab %}
  {% do rel.append("noopener") %}
{% endif %}

{# Pricing card #}

<section class="card card--pricing">
  {% if module.tier and module.description %}
    <div class="card__header">
      {% if module.tier %}
        {{ module.tier }}
      {% endif %}
      {% if module.description %}
        {{ module.description }}
      {% endif %}
    </div>
  {% endif %}
  <hr class="card__hr">
  <div class="card__body">
    <ul class="card__features">
      {% for feature in module.features %}
        <li class="card__feature-item">
          {% icon
            extra_classes="card__icon",
            name="{{ module.feature_icon.name }}",
            purpose="decorative",
            style="{{ module.feature_icon.type }}",
            unicode="{{ module.feature_icon.unicode }}"
          %}{{ feature }}
        </li>
      {% endfor %}
    </ul>
    <hr class="card__hr">
    <p class="card__price">{{ module.price }}{{ module.timeframe }}</p>
    <div class="card__button-wrapper button-wrapper">
      <a class="card__button button" href="{{ href }}"
        {% if module.button_link.open_in_new_tab %}target="_blank"{% endif %}
        {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}>
          {{ module.button_text }}
      </a>
    </div>
  </div>
</section>


{% require_css %}
<style>
.card {
  text-align: center;
}
.card--pricing {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  padding: 2.1rem;
}

@media screen and (max-width: 1200px) {
  .card--pricing {
    padding: 2.1rem 0.7rem;
  }
}

@media screen and (max-width: 787px) {
  .card--pricing {
    margin-bottom: 1.4rem;
  }
}

.card__subtitle,
.card__body li {
  font-size: 0.9rem;
}

.card__body ul,
.card__body li {
  padding: 0;
}

.card__body li {
  list-style: none;
  margin: 0;
  padding: 0.35rem 0;
  text-align: left;
}

.card__body svg {
  display: inline-block;
  margin-right: 0.7rem;
  max-width: 20px;
}


</style>
{% end_require_css %}