<div class="fullwidth blgrcnt-Sec sec-backgrnd sidebar-sec">
		<div class="fullwidth blgrcnt-Inner">
			<div class="fullwidth blgrcnt-Header">
			  <h3 syle="color: rgba({{ module.title_color.color|convert_rgb }},{{ module.title_color.opacity / 100 }});"> {{ module.title }} </h3>
		  </div>
			<div class="fullwidth blgrcnt-Row">
				{% set rec_posts = blog_recent_posts( module.blog , module.number_of_post) %}
				{% for rec_post in rec_posts %}
				<div class="blgrcnt-Cls">
					<div class="blgrcnt-Clsimg">
						<a href="{{ rec_post.absolute_url }}" style="background-image: url( {{ rec_post.featured_image }});"> </a>
					</div>
					<div class="blgrcnt-Clscntn">
					<h6>
						<a href="{{ rec_post.absolute_url }}">{{ rec_post.name }}</a>
					</h6>
						<div class="blgrcnt-Cltme">
							 {{ rec_post.publish_date|datetimeformat("%B %e, %Y") }}
						</div>
					</div>
					
				</div>
				{% endfor %}
			</div>
		</div>
</div>

<style>
	#hs_cos_wrapper_{{ name }} .sec-backgrnd { 
	{% if module.style.background_options == 'background_color' %}
		background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity / 100 }});
		
	{% elif module.style.background_options == 'background_image' %}
		{{ module.style.background_image.css }}; background-repeat:  no-repeat;
		
	{% elif module.style.background_options == 'background_gradient' %}
		background: {{ module.style.background_gradient.css }};
		
  {% endif %}
	}
	
	@media(max-width: 991px){
		
		
	}
	
	@media(max-width: 767px){
		
		
	}
	
</style>