<div class="fullwidth sec-padding Prjct-dtlSec sec-backgrnd sec-spcng {% if module.style.add_overlay_ %} add-ovrly {% endif %}">
	<div class="wrapper">
		<div class="fullwidth Prjct-dtlInner">
			<div class="Prjct-dtlLft" style="background-image: url({{ module.image.src }});">
				
			</div>
			<div class="Prjct-dtlRight">
				<div class="Prjct-dtlttl">
					<h3> {{ module.title }}</h3>
				</div>
				<div class="Prjct-dtlContent">
         <ul>
					 {% for item in module.list_group %}
					 <li>
						 <span class="Prjct-icn">{{ item.list_icon }}</span>
						 <span class="Prjct-ttl">{{ item.list_title }}</span>
						 <span class="Prjct-txt">{{ item.list_text }}</span>
					 </li>
					 {% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	#hs_cos_wrapper_{{ name }} .sec-backgrnd { 
	{% if module.style.background_options == 'background_color' %}
		background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity / 100 }});
		
	{% elif module.style.background_options == 'background_image' %}
		{{ module.style.background_image.css }}; background-repeat:  no-repeat;
		
	{% elif module.style.background_options == 'background_gradient' %}
		background: {{ module.style.background_gradient.css }};
		
  {% endif %}
	}
	#hs_cos_wrapper_{{ name }} .add-ovrly { position: relative; z-index: 1; }
	#hs_cos_wrapper_{{ name }} .add-ovrly:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: '';  z-index: -1; background-color: rgba({{ module.style.overlay_color.color|convert_rgb }},{{ module.style.overlay_color.opacity / 100 }}); }
	 
	#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	  {{ module.style.spacing_desktop_.css }}
	}
	
	{# #hs_cos_wrapper_{{ name }} .Prjct-dtlttl h3 { color: rgba({{ module.title_color.color|convert_rgb }},{{ module.title_color.opacity / 100 }}); } }#
	#hs_cos_wrapper_{{ name }} .Prjct-dtlContent{ background-color: rgba({{ module.text_background_color.color|convert_rgb }},{{ module.text_background_color.opacity / 100 }}); }
	{% for item in module.list_group %}
	#hs_cos_wrapper_{{ name }} .Prjct-dtlContent ul li:nth-child({{ loop.index }}) .Prjct-icn{ background-color: rgba({{ item.list_icon_background_color.color|convert_rgb }},{{ item.list_icon_background_color.opacity / 100 }}); color: rgba({{ item.list_icon_color.color|convert_rgb }},{{ item.list_icon_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .Prjct-dtlContent ul li:nth-child({{ loop.index }}) .Prjct-ttl{ color: rgba({{ item.list_title_color.color|convert_rgb }},{{ item.list_title_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .Prjct-dtlContent ul li:nth-child({{ loop.index }}) .Prjct-txt { color: rgba({{ item.list_text_color.color|convert_rgb }},{{ item.list_text_color.opacity / 100 }}); }

	{% endfor %}
	
	@media(max-width: 991px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_tablet_.css }}
	  }
		
	}
	
	@media(max-width: 767px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_mobile_.css }}
	  }
		
	}
	
</style>#}