<div class="fullwidth bizblgpost-grpsec">
	<div class="fullwidth bizblgpostRow">
		{% for item in module.column_group %}
		{% if item.column_options == 'three-cls' %}
	  <div class="bizblgpostcls bizblgposthrc fullwidth ">
			{% for item2 in item.three_column %}
			<div class="bzgpclImginnr">
				{% set href = item2.link.url.href %}
				{% if item2.link.url.type is equalto "EMAIL_ADDRESS" %}
				{% set href = "mailto:" + href %}
				{% endif %}
				<a href="{{ href }}" {% if item2.link.open_in_new_tab %}target="_blank"{% endif %} {% if item2.link.rel %}rel="{{ item2.link.rel }}"{% endif %} >
					{% if item2.image.src %}
					{% set sizeAttrs = 'width="{{ item2.image.width }}" height="{{ item2.image.height }}"' %}
					{% if item2.image.size_type == 'auto' %}
					{% set sizeAttrs = 'width="{{ item2.image.width }}" height="{{ item2.image.height }}" style="max-width: 100%; height: auto;"' %}
					{% elif item2.image.size_type == 'auto_custom_max' %}
					{% set sizeAttrs = 'width="{{ item2.image.max_width }}" height="{{ item2.image.max_height }}" style="max-width: 100%; height: auto;"' %}
					{% endif %}
					{% set loadingAttr = item2.image.loading != 'disabled' ? 'loading="{{ item2.image.loading }}"' : '' %}
					<img src="{{ item2.image.src }}" alt="{{ item2.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
				  {% endif %}
				</a>
			</div>
			{% endfor %}
		</div>
		{% elif item.column_options == 'text-cls' %}
		<div class="bizblgpostcls bizblgpostxt fullwidth ">
			{{ item.text }}
		</div>
		{% elif item.column_options == 'quotes-cls' %}
		<div class="bizblgpostcls bizblgpostblckqut fullwidth ">
			<blockquote style="background-color: rgba({{ item.quotes_group.quotes_background_color.color|convert_rgb }},{{ item.quotes_group.quotes_background_color.opacity / 100 }});">
			  {{ item.quotes_group.quote_text }}
		  </blockquote>
		</div>
		{% elif item.column_options == 'two-cols' %}
		<div class="bizblgpostcls bizblgpostwcls fullwidth ">	
			<div class="bizblgpostLft">
				{% if item.two_column.image.src %}
				{% set sizeAttrs = 'width="{{ item.two_column.image.width }}" height="{{ item.two_column.image.height }}"' %}
				{% if item.two_column.image.size_type == 'auto' %}
				{% set sizeAttrs = 'width="{{ item.two_column.image.width }}" height="{{ item.two_column.image.height }}" style="max-width: 100%; height: auto;"' %}
				{% elif item.two_column.image.size_type == 'auto_custom_max' %}
				{% set sizeAttrs = 'width="{{ item.two_column.image.max_width }}" height="{{ item.two_column.image.max_height }}" style="max-width: 100%; height: auto;"' %}
				{% endif %}
				{% set loadingAttr = item.two_column.image.loading != 'disabled' ? 'loading="{{ item.two_column.image.loading }}"' : '' %}
				<img src="{{ item.two_column.image.src }}" alt="{{ item.two_column.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
			  {% endif %}
			</div>
			<div class="bizblg-postRight">
				<h3> {{ item.two_column.title }} </h3>
				<div class="bizblg-postintxt">
					{{ item.two_column.text }}
				</div>
			</div>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</div>

{% require_css %}
<style>
	{% for item in module.column_group %}
	#hs_cos_wrapper_{{ name }} .bizblgpostcls:nth-child({{ loop.index }}).bizblgpostblckqut blockquote:after { background-color: rgba({{ item.quotes_group.quotes_line_color.color|convert_rgb }},{{ item.quotes_group.quotes_line_color.opacity / 100 }}); }
	{% endfor %}
</style>
{% end_require_css %}
