<!--
  templateType: none
-->
<!doctype html>
<html lang="{{ html_lang }}" {{ html_lang_dir }}>
  <head>
    <meta charset="utf-8">
    {% if page_meta.html_title || pageTitle %}<title>{{ page_meta.html_title || pageTitle }}</title>{% endif %}
    {% if site_settings.favicon_src %}<link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />{% endif %}
    <meta name="description" content="{{ page_meta.meta_description }}">
    {{ require_css(get_asset_url("../../css/main.css")) }}
    {# This is intended to be used if a template requires template specific style sheets #}
    {% if template_css %}
      {{ require_css(get_asset_url(template_css)) }}
    {% endif %}
    <link rel="preload" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
      <link rel="preload" href="https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap" as="style">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Amiri:regular,700|Nunito:regular,700&display=swap" as="style">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiri:regular,700|Nunito:regular,700&display=swap">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Lora&family=Raleway:wght@600;700;800&display=swap" as="style">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora&family=Raleway:wght@600;700;800&display=swap">
    
    
    
<!-- 		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
		{{ require_css(get_asset_url("../../css/fancybox.css")) }}
		{{ require_css(get_asset_url("../../css/animate.css")) }}
		{{ require_css(get_asset_url("../../css/slick.css")) }}
		{{ require_css(get_asset_url("../../css/custom-icon.css")) }}
		{{ require_css(get_asset_url("../../css/flaticon.css")) }}
    {{ require_css(get_asset_url("../../css/theme-overrides.css")) }}
    {# To see a full list of what is included via standard_header_includes please reference this article: https://developers.hubspot.com/docs/cms/hubl/variables#required-page-template-variables #}
    {{ standard_header_includes }}
  </head>
  <body>
    <div class="body-wrapper {{ builtin_body_classes }}">
      {% block header %}
        {% global_partial path="../partials/header.html" %}
      {% endblock header %}

      {# The main-content ID is used for the navigation skipper in the header.html file. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}

      <main id="main-content" class="body-container-wrapper">
        {% block body %}
        {% endblock body %}
      </main>

      {% block footer %}
        {% global_partial path="../partials/footer.html" %}
      {% endblock footer %}
    </div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js" defer></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js" defer></script>
		{# {{ require_js(get_asset_url("../../js/fancybox.js")) }} #}
{{ require_js(get_asset_url("../../js/main.js"), { position: "footer", defer: true })}}  
  {#         {{ require_js(get_asset_url("../../js/debug.js"), { position: "footer", defer: true })}}   #}
    {# To see a full list of what is included via standard_footer_includes please reference this article: https://developers.hubspot.com/docs/cms/hubl/variables#required-page-template-variables #}
    {{ standard_footer_includes }}
  </body>
</html>
