<div class="solutnSec sec-padding fullwidth sec-backgrnd sec-spcng {% if module.style.add_overlay_ %} add-ovrly {% endif %}">
	<div class="wrapper">
		<div class="fullwidth solutnInner">
			<div class="solutnLeft">
			 <div class="solutnHeader smpHeader">
				{% if module.sub_title %}
				<h6> {{ module.sub_title }} </h6>
				{% endif %}
				{% if module.title %}
				<h2> {{ module.title }} </h2>
				{% endif %}
				{% if module.text %}
				<div class="solutnHeadertxt">
					{{ module.text }}
				</div>
				{% endif %}
			</div>
			 	<div class="solutnLeftbox">
					<h3> {{ module.column_title }} </h3>
					<div class="solutnLeftboxText">
						{{ module.column_text }}
					</div>
					<div class="slnLeftinrbx">
						<div class="slnLeftinrbx-img">
						</div>
						<div class="slnLeftinrbx-txt">
							<h5>
								{{ module.person_name }}
							</h5>
							<span>
								{{ module.person_designation }}
							</span>
						</div>
						<div class="slnLeftinrbx-sgntr">
							{% if module.signature.src %}
							{% set sizeAttrs = 'width="{{ module.signature.width }}" height="{{ module.signature.height }}"' %}
							{% if module.signature.size_type == 'auto' %}
							{% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
							{% elif module.signature.size_type == 'auto_custom_max' %}
							{% set sizeAttrs = 'width="{{ module.signature.max_width }}" height="{{ module.signature.max_height }}" style="max-width: 100%; height: auto;"' %}
							{% endif %}
							{% set loadingAttr = module.signature.loading != 'disabled' ? 'loading="{{ module.signature.loading }}"' : '' %}
							<img src="{{ module.signature.src }}" alt="{{ module.signature.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
						  {% endif %}
						</div>
					</div>
					<div class="slnLeft-Frm">
						<h4> {{ module.form_title }} </h4>
						<div class="slnLeft-Frmprt">
							{% form
									form_to_use="{{ module.form.form_id }}"
									response_response_type="{{ module.form.response_type }}"
									response_message="{{ module.form.message }}"
									response_redirect_id="{{ module.form.redirect_id }}"
									response_redirect_url="{{module.form.redirect_url}}"
									gotowebinar_webinar_key="{{ module.form.gotowebinar_webinar_key }}"
							%}
						</div>
					</div>
			 	</div>
			 </div>
			<div class="solutnRight" style="background-image: url({{ module.image.src }});">
				{% if module.image.src %}
				{% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}"' %}
				{% if module.image.size_type == 'auto' %}
				{% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
				{% elif module.image.size_type == 'auto_custom_max' %}
				{% set sizeAttrs = 'width="{{ module.image.max_width }}" height="{{ module.image.max_height }}" style="max-width: 100%; height: auto;"' %}
				{% endif %}
				{% set loadingAttr = module.image.loading != 'disabled' ? 'loading="{{ module.image.loading }}"' : '' %}
				<img src="{{ module.image.src }}" alt="{{ module.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
			  {% endif %}
			</div>
		</div>
	</div>
</div>

{% require_css %}
<style>
	#hs_cos_wrapper_{{ name }} .sec-backgrnd { 
	{% if module.style.background_options == 'background_color' %}
		background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity / 100 }});
		
	{% elif module.style.background_options == 'background_image' %}
		{{ module.style.background_image.css }}; background-repeat:  no-repeat;
		
	{% elif module.style.background_options == 'background_gradient' %}
		background: {{ module.style.background_gradient.css }};
		
  {% endif %}
	}
	{# #hs_cos_wrapper_{{ name }} .smpHeader h6{ color: {{ module.sub_title_color.color }}; }
	#hs_cos_wrapper_{{ name }} .smpHeader h2{ color: {{ module.title_color.color }}; }
	#hs_cos_wrapper_{{ name }} .solutnHeadertxt { color: rgba({{ module.text_color.color|convert_rgb }},{{ module.text_color.opacity / 100 }}); } #}
	
	#hs_cos_wrapper_{{ name }} .add-ovrly { position: relative; z-index: 1; }
	#hs_cos_wrapper_{{ name }} .add-ovrly:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: '';  z-index: -1; background-color: rgba({{ module.style.overlay_color.color|convert_rgb }},{{ module.style.overlay_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .solutnInner { margin-bottom: {{ module.bottom_spacing }}px; }
	#hs_cos_wrapper_{{ name }} .sec-spcng{ {{ module.style.spacing_desktop_.css }}; }
	
	#hs_cos_wrapper_{{ name }} .solutnLeftbox { background-color: rgba({{ module.column_background_color.color|convert_rgb }},{{ module.column_background_color.opacity / 100 }}); }
	{# #hs_cos_wrapper_{{ name }} .solutnLeftbox > h3 { color: {{ module.column_title_color.color }}; }
	#hs_cos_wrapper_{{ name }} .solutnLeftboxText{ color: {{ module.column_text_color.color }}; } #}
	#hs_cos_wrapper_{{ name }} .slnLeftinrbx-img { background-image: url({{ module.person_image.src }}); }
	{# #hs_cos_wrapper_{{ name }} .slnLeftinrbx-txt h5 { color: {{ module.person_name_text_color.color }}; }
	#hs_cos_wrapper_{{ name }} .slnLeftinrbx-txt span { color: {{ module.person_designation_text_color.color }}; } #}
	
	{# #hs_cos_wrapper_{{ name }} .slnLeft-Frm h4{ color: {{ module.form_title_color.color }}; } #}
	 
	@media(max-width: 991px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_tablet_.css }}
	  }
			#hs_cos_wrapper_{{ name }} .solutnInner { margin-bottom: {{ module.bottom_spacing_tablet_ }}px; }
	}
	
	@media(max-width: 767px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_mobile_.css }}
	  }
			#hs_cos_wrapper_{{ name }} .solutnInner { margin-bottom: {{ module.bottom_spacing_mobile_ }}px; }
	}
	
</style>
{% end_require_css %}