<div class="topBar fullwidth">
	<div class="wrapper flex ffRowwrap justSpacebetween alignCenter">
		<div class="tbLeft">
			<div class="tblTime">
				<i class="fa fa-clock-o" aria-hidden="true"></i>
				{{ module.timing }}
			</div>
			<div class="tblAddress">
				<i class="fa fa-map-marker tm-skincolor"></i>
				{{ module.address }}
			</div>
		</div>
		<div class="tbRight flex ffRowwrap alignCenter">
			<span>{{ module.social_icons.title }}</span>
			<ul>
        <li>{% language_switcher display_mode='{{ module.display_mode }}' %}</li>
				{% for item in module.social_icons.add_social_icon %}
					<li>
						{% set href = item.link.url.href %}
						{% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
							{% set href = "mailto:" + href %}
						{% endif %}
						<a href="{{ href }}" {% if item.link.open_in_new_tab %}target="_blank"{% endif %}	{% if item.link.rel %}rel="{{ item.link.rel }}"{% endif %}>{% icon name="{{ item.icon.name }}" style="{{ item.icon.type }}" unicode="{{ item.icon.unicode }}" icon_set="{{ item.icon.icon_set }}" %}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
<div class="topSection fullwidth">
	<div class="wrapper">
		<div class="trRow fullwidth flex ffRowwrap justSpacebetween">
			<div class="tLogo">
				{% set href = module.link.url.href %}
				{% if module.link.url.type is equalto "EMAIL_ADDRESS" %}
					{% set href = "mailto:" + href %}
				{% endif %}
				<a href="{{ href }}" {% if module.link.open_in_new_tab %}target="_blank"{% endif %}	{% if module.link.rel %}rel="{{ module.link.rel }}"{% endif %}>
					{% set loadingAttr = module.logo.loading != 'disabled' ? '{{ module.logo.loading }}' : '' %}
{% logo
	override_inherited_src="{{ module.logo.override_inherited_src }}"
	src="{{ module.logo.src }}"
	alt="{{ module.logo.alt }}"
	width="{{ module.logo.width }}"
	height="{{ module.logo.height }}"
	loading="{{ loadingAttr }}"
	suppress_company_name="{{ module.logo.suppress_company_name }}"
%}
				</a>
			</div>
			<div class="tContact">
				{% for item in module.add_contact_column %}
					<div class="tcColumn"> 
						<div class="tccIcon">
              {{ item.icon }}
						</div>
						<div class="tccText">{{ item.contact_detail_1 }}</div>
						<div class="tccText fullwidth">{{ item.contact_detail_2 }}</div>
					</div>
				{% endfor %}
			</div>
	  </div>
		
		<div class="trMenurow fullwidth flex ffRowwrap justSpacebetween">
			<a class="smenuToggle"><img src="https://2720327.fs1.hubspotusercontent-na1.net/hubfs/2720327/Assets%20-%20Axacus/toggle-1.svg"></a>
		
			<div class="trMenu">
				{% menu id="{{ module.select_a_menu }}" %}
			</div>
			<div class="trSearchcta flex ffRowwrap justEnd alignCenter">
				<div class="trSearch">
					<a class="trsIcon"><i class="tm-axacus-icon-search"></i></a>
					<a class="trcIcon hide"><i class="tm-axacus-icon-close"></i></a> 
					
					  			    {# Need help setting up site search?
   Start here: https://knowledge.hubspot.com/articles/kcs_article/cos-general/how-do-i-set-up-a-results-page-for-my-search-field-in-hubspot #}

							<div class="hs-search-field hide"> 
									<div class="hs-search-field__bar"> 
										<form action="/{{ site_settings.content_search_results_page_path }}">
											{% if module.field_label %}
												<label for="term">{{ module.field_label }}</label>
											{% endif %}
											<input type="text" class="hs-search-field__input" name="term" autocomplete="off" aria-label="{{ module.field_label || "Search" }}" placeholder="Type Word Then Enter.."> {# {{ module.placeholder }} #}

											{% if module.content_types.website_pages %}
												<input type="hidden" name="type" value="SITE_PAGE">
											{% endif %}
											{% if module.content_types.landing_pages %}
												<input type="hidden" name="type" value="LANDING_PAGE">
											{% endif %}
											{% if module.content_types.blog_posts %}
												<input type="hidden" name="type" value="BLOG_POST">
												<input type="hidden" name="type" value="LISTING_PAGE">
											{% endif %}
											{% if module.content_types.knowledge_articles %}
												<input type="hidden" name="type" value="KNOWLEDGE_ARTICLE">
											{% endif %}

											{% if module.include_search_button %}
												<button aria-label="Search">{% icon name="search" style="solid" %}</button>
											{% endif %}
										</form>
									</div>
									<ul class="hs-search-field__suggestions"></ul>
							</div>
					
				</div>
				<div class="trCTA">
					{% set href = module.button.link.url.href %}
					{% if module.button.link.url.type is equalto "EMAIL_ADDRESS" %}
						{% set href = "mailto:" + href %}
					{% endif %}
					<a href="{{ href }}" {% if module.button.link.open_in_new_tab %}target="_blank"{% endif %} {% if module.button.link.rel %}rel="{{ module.button.link.rel }}"{% endif %}>
						{{ module.button.text }}
					</a>
				</div>
			</div>
		</div>
		
	</div>
</div>


{% require_css %} 
  <style>
		#hs_cos_wrapper_{{ name }} .topSection { {{ module.style.spacing.desktop_spacing.css }}; }  
		@media (max-width:991px){
			#hs_cos_wrapper_{{ name }} .topSection { {{ module.style.spacing.tablet_spacing.css }}; }  
		}
		@media (max-width:767px){
			#hs_cos_wrapper_{{ name }} .topSection { {{ module.style.spacing.mobile_spacing.css }}; }  
		}
	</style>
{% end_require_css %}




