<div class="fullwidth sec-padding our-bnftSec sec-backgrnd sec-spcng {% if module.style.add_overlay_ %} add-ovrly {% endif %}">
	<div class="wrapper">
		<div class="fullwidth our-bnftInner">
			<div class="our-bnftlft">
			  <div class="our-bnftHeader smpHeader">
				{% if module.sub_title %}
				<h6> {{ module.sub_title }} </h6>
				{% endif %}
				
				{% if module.title %}
				<h2> {{ module.title }} </h2>
				{% endif %}
				
				{% if module.text %}
				<div class="our-bnftHeadertxt">
					{{ module.text }}
				</div>
				{% endif %}
				
			</div>
			   <div class="our-bnftRow">
					 {% for item in module.column_group %}
				  <div class="our-bnftcls our-bnftcls{{ loop.index }}">
						<div class="our-bnftcls-img">
							<div class="our-bnftcls-innrimg">
						{% if item.image_or_icon_code == 'image' %}
							{% if item.image.src %}
							{% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}"' %}
							{% if item.image.size_type == 'auto' %}
							{% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
							{% elif item.image.size_type == 'auto_custom_max' %}
							{% set sizeAttrs = 'width="{{ item.image.max_width }}" height="{{ item.image.max_height }}" style="max-width: 100%; height: auto;"' %}
							{% endif %}
							{% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}
							<img src="{{ item.image.src }}" alt="{{ item.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
							{% endif %}
						
					  {% elif item.image_or_icon_code == 'icon' %}
						{{ item.icon_code }}
						{% endif %}
						</div>
					 </div>
						<div class="our-bnftcls-rghtcnt">
							<h4>
								{{ item.title }}
							</h4>
							<div class="our-bnftclsrghtxt">
								{{ item.text }}
							</div>
						</div>
					</div> 
					 {% endfor %}
			   </div> 
		  </div>
			<div class="our-bnftRight">
				{% if module.image.src %}
				{% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}"' %}
				{% if module.image.size_type == 'auto' %}
				{% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
				{% elif module.image.size_type == 'auto_custom_max' %}
				{% set sizeAttrs = 'width="{{ module.image.max_width }}" height="{{ module.image.max_height }}" style="max-width: 100%; height: auto;"' %}
				{% endif %}
				{% set loadingAttr = module.image.loading != 'disabled' ? 'loading="{{ module.image.loading }}"' : '' %}
				<img src="{{ module.image.src }}" alt="{{ module.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
			  {% endif %}
		</div>
	</div>
</div>

<style>
	#hs_cos_wrapper_{{ name }} .sec-backgrnd { 
	{% if module.style.background_options == 'background_color' %}
		background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity / 100 }});
		
	{% elif module.style.background_options == 'background_image' %}
		{{ module.style.background_image.css }}; background-repeat:  no-repeat;
		
	{% elif module.style.background_options == 'background_gradient' %}
		background: {{ module.style.background_gradient.css }};
		
  {% endif %}
	}
	#hs_cos_wrapper_{{ name }} .add-ovrly { position: relative; z-index: 1; }
	#hs_cos_wrapper_{{ name }} .add-ovrly:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: '';  z-index: -1; background-color: rgba({{ module.style.overlay_color.color|convert_rgb }},{{ module.style.overlay_color.opacity / 100 }}); }
	 
	{# #hs_cos_wrapper_{{ name }} .smpHeader h6{ color: {{ module.sub_title_color.color }}; }
	#hs_cos_wrapper_{{ name }} .smpHeader h2{ color: {{ module.title_color.color }}; }
	#hs_cos_wrapper_{{ name }} .our-bnftHeadertxt { color: rgba({{ module.text_color.color|convert_rgb }},{{ module.text_color.opacity / 100 }}); } #}
	
	
	#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	  {{ module.style.spacing_desktop_.css }}
	}
	
	{% for item in module.column_group %}
	
	#hs_cos_wrapper_{{ name }} .our-bnftcls:nth-child({{ loop.index }}) .our-bnftcls-innrimg i { color: rgba({{ item.icon_code_color.color|convert_rgb }},{{ item.icon_code_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .our-bnftcls{{ loop.index }} .our-bnftcls-rghtcnt h4{ color: rgba({{ item.title_color.color|convert_rgb }},{{ item.title_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .our-bnftcls{{ loop.index }} .our-bnftclsrghtxt { color: rgba({{ item.text_color.color|convert_rgb }},{{ item.text_color.opacity / 100 }}); }
	
	{% endfor %}
	
	
	@media(max-width: 991px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_tablet_.css }}
	  }
		
	}
	
	@media(max-width: 767px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_mobile_.css }}
	  }
		
	}
	
</style>