<div class="fullwidth sec-padding AheroSec sec-backgrnd sec-spcng {% if module.style.add_overlay_ %} add-ovrly {% endif %}">
	<div class="wrapper">
		<div class="fullwidth AheroInner">
			<div class="fullwidth AheroRow text-center">
				{% if module.title %}
				<h1> {{ module.title }} </h1>
				{% endif %}
				<div class="Aheromenu">
					{% menu "breadcrumb" id={{ module.menu }},  overrideable=False, root_type='breadcrumb', flyouts='false', max_levels='7', flow='horizontal', label='Hero Breadcrumb' %}
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	#hs_cos_wrapper_{{ name }} .sec-backgrnd { 
	{% if module.style.background_options == 'background_color' %}
		background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity / 100 }});
		
	{% elif module.style.background_options == 'background_image' %}
		{{ module.style.background_image.css }}; background-repeat:  no-repeat;
		
	{% elif module.style.background_options == 'background_gradient' %}
		background: {{ module.style.background_gradient.css }};
		
  {% endif %}
	}
	
	#hs_cos_wrapper_{{ name }} .add-ovrly { position: relative; z-index: 1; }
	#hs_cos_wrapper_{{ name }} .add-ovrly:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: '';  z-index: -1; background-color: rgba({{ module.style.overlay_color.color|convert_rgb }},{{ module.style.overlay_color.opacity / 100 }}); }
	 
	#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	  {{ module.style.spacing_desktop_.css }}
	}
	
	#hs_cos_wrapper_{{ name }} .AheroRow h1{ color: rgba({{ module.title_color.color|convert_rgb }},{{ module.title_color.opacity / 100 }}); }
	
	#hs_cos_wrapper_{{ name }} .Aheromenu ul li a , #hs_cos_wrapper_{{ name }} .Aheromenu ul li span{ color: rgba({{ module.menu_text_color.color|convert_rgb }},{{ module.menu_text_color.opacity / 100 }}); }
/* 	#hs_cos_wrapper_{{ name }} .Aheromenu ul li a:hover { color: rgba({{ module.menu_hover_text_color.color|convert_rgb }},{{ module.menu_hover_text_color.opacity / 100 }}); } */
	
	
	@media(max-width: 991px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_tablet_.css }}
	  }
		
	}
	
	@media(max-width: 767px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_mobile_.css }}
	  }
		
	}
	
</style>